{% extends "::Layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="css/style.css" />
    {#<style>#}

        {#article img{#}
            {#max-width:280px;#}
            {#width:100%;#}
            {#float:left;#}
            {#margin-right:10px#}
        {#}#}
    {#</style>#}
{%endblock%}








{% block body %}

    {#<div class="col-sm-3">#}
        {#{% block menu %}#}
            {#            {{ render(controller("AppBundle:Blog:menuGauche", {'nombre':3})) }}#}
            {#<div class="navbar">#}
                {#<div class="navbar-inner">#}

                    {#{{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active'}) }}#}
                {#</div>#}
            {#</div>#}

        {#{% endblock %}#}

    {#</div>#}
    <div class="col-sm-12">
        {% for message in app.session.flashbag.get('info') %}
            <p class="alert alert-success">{{message}}</p>
        {%endfor%}
        {% for message in app.session.flashbag.get('erreur') %}
            <p class="alert alert-danger">{{message}}</p>
        {%endfor%}
        {% block contenu %}

        {%endblock%}
    </div>


{%endblock%}

